
  <main>
    <section class="contact">
      <div class="container">
        <div class="left">
          <div class="form-wrapper">
            <div class="contact-heading">
              <h1>Let's work together<span>.</span></h1>
              <p class="text">Or reach us via : <a href="mailto:Publius@mail.com">Publius@mail.com</a></p>
            </div>

            <form action="index.html" method="post" class="contact-form">
              <div class="input-wrap">
                <input class="contact-input" autocomplete="off" name="First Name" type="text" required>
                <label>First name</label>
                <i class="icon fa-solid fa-address-card"></i>
              </div>

              <div class="input-wrap">
                <input class="contact-input" autocomplete="off" name="Last Name" type="text" required>
                <label>Last name</label>
                <i class="icon fa-solid fa-address-card"></i>
              </div>

              <div class="input-wrap w-100">
                <input class="contact-input" autocomplete="off" name="Email" type="email" required>
                <label>Email</label>
                <i class="icon fa-solid fa-envelope"></i>
              </div>

              <div class="input-wrap textarea w-100">
                <textarea name="Message" auto-complete="off" class="contact-input" required></textarea>
                <label>Message</label>
                <i class="icon fa-solid fa-inbox"></i>
              </div>

              <div class="contact-buttons">
             
                <input type="submit" value="Send message" class="btn">
              </div>
            </form>
          </div>
        </div>

       
      </div>
    </section>
  </main>


