<header class="header" id="header">
   <nav class="nav container">
      <a href="#" class="nav__logo">
         <i class="ri-rocket-2-line">CodeMark</i>
      </a>

      <div class="nav__menu" id="nav-menu">
          <ul class="nav__list">
             <li class="nav__item">
                <a href="#" class="nav__link">Home <span></span></a>
             </li>

             <li class="nav__item">
                <a href="" class="nav__link">Nosotros <span></span></a>
             </li>

             <li class="nav__item">
                <a href="#" class="nav__link">Servicios <span></span></a>
             </li>

             <li class="nav__item">
                <a href="#" class="nav__link">Contact <span></span></a>
             </li>
          </ul>

          <!--Close Boton-->
          <div class="nav__close" id="nav-close">
             <i class="ri-close-line"></i>
          </div>
      </div>

      <!--Boton de opciones-->
      <div class="nav__toggle" id="nav-toggle">
         <i class="ri-apps-2-line"></i>
      </div>
   </nav>
   <script src="assets/js/main.js"></script>
</header>
