@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  --main-hue: 208;
  --main-color: hsl(var(--main-hue), 92%, 54%);
  --main-color-hover: hsl(var(--main-hue), 77%, 48%);
  --light-main-color: hsl(var(--main-hue), 91%, 55%);

  --nav-color: hsl(var(--main-hue), 17%, 79%);
  --bg-color: #000000;
  --light-text-color: #9ca7b6;
  --input-bg: hsla(var(--main-hue), 50%, 50%, 6.5%);
  --input-bg-hover: hsla(var(--main-hue), 50%, 50%, 14%);
  --input-text: #8c9aaf;
  --input-shadow: hsla(var(--main-hue), 92%, 54%, 0.169);
}




.contact {
  width: 100%;
  overflow: hidden;
  background-color: var(--bg-color);
}

.contact .container {
  height: 100vh;
  min-height: 700px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.contact .container > div {
  grid-column: 1/2;
  grid-row: 1/2;
}

.left {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  padding: 65px 1.5rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  position: relative;
  z-index: 3;
}

.contact-heading h1 {
  font-weight: 600;
  color: var(--text-color);
  font-size: 3.5rem;
  line-height: 0.9;
  white-space: nowrap;
  margin-bottom: 1.2rem;
}

.contact-heading h1 span {
  color: var(--main-color);
}

.text {
  color: var(--light-text-color);
  line-height: 1.1;
  font-size: 1rem;
}

.text a {
  color: var(--main-color);
  transition: 0.3s;
}

.text a:hover {
  color: var(--main-color-hover);
}

.form-wrapper {
  max-width: 32rem;
}

.contact-form {
  display: grid;
  margin-top: 2.55rem;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  row-gap: 1rem;
}

.input-wrap {
  position: relative;
}

.input-wrap.w-100 {
  grid-column: span 2;
}

.contact-input {
  width: 100%;
  background-color: var(--input-bg);
  padding: 1.5rem 1.35rem calc(0.75rem - 2px) 1.35rem;
  border: none;
  outline: none;
  font-family: inherit;
  border-radius: 20px;
  color: var(--text-color);
  font-weight: 600;
  font-size: 0.95rem;
  border: 2px solid transparent;
  box-shadow: 0 0 0 0px var(--input-shadow);
  transition: 0.3s;
}

.contact-input:hover {
  background-color: var(--input-bg-hover);
}

.input-wrap label {
  position: absolute;
  top: -10%;
  left: calc(1.35rem + 2px);
  transform: translateY(-50%);
  color: var(--light-text-color);
  pointer-events: none;
  transition: 0.25s;
}

.input-wrap .icon {
  position: absolute;
  right: calc(1.35rem + 2px);
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: var(--input-text);
  font-size: 1.25rem;
  transition: 0.3s;
}

textarea.contact-input {
  resize: none;
  width: 100%;
  min-height: 150px;
}

textarea.contact-input ~ label {
  top: -1.0rem;
  transform: none;
}

textarea.contact-input ~ .icon {
  top: 1.3rem;
  transform: none;
}



    .input-wrap.focus .icon {
    color: var(--light-main-color);
    }

    .input-wrap.not-empty label {
    font-size: 0.66rem;
    top: 0.75rem;
    transform: translateY(0);
    }

    .contact-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    margin-top: 1rem;
    width: 100%;
    grid-column: span 2;
    }



    .right {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow: hidden;
    pointer-events: none;
    }


    @media (max-width: 1000px) {

        
 


    .nav-link {
        margin-left: 3.5rem;
        padding: 0 0.8rem;
        font-size: 0.9rem;
    }

    .nav-link.theme-toggle {
        font-size: 1rem;
    }

    .contact-heading h1 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
        white-space: normal;
    }

    .text {
        font-size: 0.9rem;
    }

    .contact-form {
        display: grid;
        margin-top: 1.9rem;
        column-gap: 0.8rem;
        row-gap: 0.65rem;
    }

    .contact-input {
        border-radius: 17px;
        font-size: 0.87rem;
        padding: 1.5rem 1.2rem calc(0.75rem - 2px) 1.2rem;
    }

    .input-wrap label {
        font-size: 0.91rem;
        left: calc(1.2rem + 2px);
    }

    .input-wrap .icon {
        font-size: 1.1rem;
        right: calc(1.2rem + 2px);
    }

    textarea.contact-input ~ label {
        top: -1.0rem;
    }

    textarea.contact-input ~ .icon {
        top: 1.33rem;
    }

    .input-wrap.focus .contact-input {
        box-shadow: 0 0 0 3.5px var(--input-shadow);
    }

    .input-wrap.not-empty label {
        font-size: 0.61rem;
    }

    .contact-buttons {
        column-gap: 0.8rem;
        margin-top: 0.45rem;
    }

    .btn {
        padding: 1rem 1.5rem;
        font-size: 0.87rem;
    }

    .dashed-wave {
        bottom: 55%;
        left: -10px;
    }

    #dashed-wave {
        stroke-width: 0.7px;
        stroke-dasharray: 6;
    }

    .wave-wrap {
        transform: translateX(-10%);
    }

    .wave-wrap svg {
        height: calc(110% + 10px);
        transform: translate(-5%, -50%);
    }
    }

    @media (max-width: 650px) {
    header .container {
        height: 50px;
    }

    .left {
        padding: 50px 1.5rem 0;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .form-wrapper {
        width: 100%;
        padding: 1rem 0;
    }

    header ul {
        justify-content: space-between;
        width: 100%;
    }

 
    .nav-link {
        margin-left: 0;
    }

    .right {
        display: none;
    }
    }

@media (max-width: 440px) {
  .input-wrap {
    grid-column: span 2;
  }

  .contact-buttons {
    grid-template-columns: 1fr;
    row-gap: 0.5rem;
  }

  .contact-heading h1 {
    font-size: 1.9rem;
    line-height: 1;
  }

  

}
